/Ejercicio1/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio 3/nbproject/private/
/Ejercicio 3/build/
/Ejercicio4/nbproject/private/
/Ejercicio4/build/
/Ejercicio 5/nbproject/private/
/Ejercicio 5/build/
/Ejercicio16/nbproject/private/
/Ejercicio6/nbproject/private/
/Ejercicio6/build/
/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio8/nbproject/private/
/Ejercicio8/build/
/Ejercicio9/nbproject/private/
/Ejercicio9/build/
/Ejercicio10/nbproject/private/
/Ejercicio10/build/
/Ejercicio11/nbproject/private/
/Ejercicio11/build/
/Ejercicio12/nbproject/private/
/Ejercicio12/build/
/Ejercicio13/nbproject/private/
/Ejercicio13/build/
/Ejercicio14/nbproject/private/
/Ejercicio14/build/
/Ejercicio15/nbproject/private/
/Ejercicio15/build/
/Ejercicio16/build/
/Ejercicio17/nbproject/private/
/Ejercicio17/build/
/Ejercicio18/nbproject/private/
/Ejercicio18/build/
/Ejercicio19/nbproject/private/
/Ejercicio19/build/
/Ejercicio20/nbproject/private/
/Ejercicio20/build/
/Ejercicio21/nbproject/private/
/Ejercicio21/build/
/EjercicioExtra1/nbproject/private/
/EjercicioExtra1/build/
/EjercicioExtra2/nbproject/private/
/EjercicioExtra2/build/
/EjercicioExtra3/nbproject/private/
/EjercicioExtra3/build/
/EjercicioExtra4/nbproject/private/
/EjercicioExtra4/build/
/EjercicioExtra5/nbproject/private/
/EjercicioExtra5/build/
/EjercicioExtra6/nbproject/private/
/EjercicioExtra6/build/
/EjercicioExtra6/dist/
/EjercicioExtra7/nbproject/private/
/EjercicioExtra7/build/
/EjercicioExtra8/nbproject/private/
/EjercicioExtra8/dist/
/EjercicioExtra8/build/