/Ejercicio1/build/
/Ejercicio2/nbproject/private/
/Ejercicio2/build/
/Ejercicio 3/nbproject/private/
/Ejercicio 3/build/
/Ejercicio4/nbproject/private/
/Ejercicio4/build/
/Ejercicio 5/nbproject/private/
/Ejercicio 5/build/
/Ejercicio16/nbproject/private/
/Ejercicio6/nbproject/private/
/Ejercicio6/build/
/Ejercicio7/nbproject/private/
/Ejercicio7/build/
/Ejercicio8/nbproject/private/
/Ejercicio8/build/
/Ejercicio9/nbproject/private/
/Ejercicio9/build/
/Ejercicio10/nbproject/private/